.App {
  text-align: center;
  background-color: rgb(220, 220, 220);
  height: auto;
  font-family: "Quicksand", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #3c0585;
}

.logo {
  text-decoration: none;
  width: auto;
  color: lightblue;
  font-family: "Quicksand", sans-serif;
}

.nav {
  text-decoration: none;
  margin: 2px;
  height: 24px;
  width: auto;
  border: none;
  background-color: #add8e6;
  border-radius: 6px;
  color: #3c0585;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}
.nav:hover {
  text-decoration: none;
  margin: 2px;
  height: 24px;
  width: auto;
  border: none;
  background-color: #618f9e;
  border-radius: 6px;
  color: #6507df;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  width: auto;
}


.favorite-card,
.item-card {
  width: 300px;
  border: 3px solid steelblue;
  border-radius: 5px;
  box-shadow: 8px 4px 22px 9px #000000;
  background-color: azure;
  padding: 15px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
}


.favorite-container,
.card-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.favorite-button-container,
.card-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  height: 24px;
  width: auto;
  /* padding: 0px, 5px, 0px, 5px; */
  border: none;
  background-color: #add8e6;
  border-radius: 6px;
  color: #3c0585;
  font-size: 15px;
  font-family: "Quicksand", sans-serif;
}

.favorite-btn{
  height: 24px;
  width: auto;
  border: none;
  background-color: #add8e6;
  border-radius: 6px;
  color: #3c0585;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}

.favorite-btn:click {
  height: 24px;
  width: auto;
  border: none;
  background-color: #e6adad;
  border-radius: 6px;
  color: #3c0585;
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}
